@use 'variables';

.root {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: variables.$backgroundColor;


    input {
        margin: 0 20px;
        width: 100%;
        outline: 0;
        border: 0;
    }
}

.icon {
    color: black;
}